.item{border-left: 3px solid transparent;}
.non-fund-box{margin-top: 25%;}
.fileBtn{ display: none;}
/* .bg-gray-shade{background: #F3F4F8;} */
/* .customer-name { font-size: 14px; font-weight: 500; } */
/* .customer-id { font-size: 11px; color: #989898 ; } */
/* .overflow-x-hiddine{ overflow-x: hidden;} */
