<div class="item-center login-card mt-5">
  <div class="row justify-content-center">
      <div class="col-4">
          <h3 class="text-justify"></h3>
          <p class="text-justify font-12 color-A3A3A3">
              Please Provide username and password to sign-in to Financeware
          </p>

          <form [formGroup]="userForm" (submit)="loginUser()" >
            <div class="form-group mt-5" >
                <div id="username" class="mb-3" >
                    <label> Username</label>
                    <input type="text" name="username" class="form-control" formControlName="username"  />
                </div>

                <div id="password" class="mb-3" >
                    <label> Password </label>
                    <input type="password" name="password" class="form-control" formControlName="password" minlength="6" maxlength="20" />
                </div>
            </div>
            <div class="mt-5 text-center">
                <!-- Loading icons -->
                <!-- <span *ngIf="loadingIcon" class="fa fa-circle-o-notch fa-spin mt-3 px-4 secondary-text"></span> -->
                <button class="btn btn-success" [disabled]="loadingIcon" type="submit">Login</button>       
            </div>
              
          </form>
          <!-- <div class="mt-3 text-center">
            <button class="btn btn-danger" (click)="gotoDash()" >Direct Dashboard</button>
          </div> -->
          
      </div>
  </div>               
</div>